html {
	height: 100%;
	overflow-y: scroll;
	padding: 0;
}

:focus {
	outline: none;
}

a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;

	&:focus, &:hover {
		color: inherit;
		text-decoration: inherit;
		outline: none;
	}
}

.td {
	padding: 1px;
}

.image {
	border: 0;
}

p table {
	border: 0;
}

p td {
	text-align: center;
	font-size: 11px;
}

table table td, .table table td {
	padding: 0;
	margin-right: 0;
	border: 0;
}

body {
	background: #0a0a0a url(../images/starfield_01.gif) repeat 0 0 fixed;
	height: 100%;
	width: 100%;
	font: 11px verdana, arial, sans-serif;
	color: #d4d4d4;
	line-height: normal;
}

table th, .table th, .th {
	text-align: center;
	padding: 2px 3px;
	background: #37476a;
	color: #d7d7d7;
	border: 1px solid #425e8c;
	vertical-align: middle;
}

.bar {
	display: flex;
	justify-content: space-between;
	height: 24px;
}

td.b, div.b {
	padding: 3px 3px 3px 3px;
	border: 1px solid #415683;
	color: #ebebeb;
	background: #353535;
	font-weight: normal;
	text-align: left;
}

th.b {
	padding: 3px 3px 3px 3px;
	color: #ebebeb;
	background: #353535;
	text-align: left;
	font-weight: normal;
	border: 1px solid #202020;
	word-wrap: break-word;
	max-width: 556px;
}

.c, table .c {
	color: #dadada;
	padding: 2px 3px;
	text-align: center;
	font-weight: normal;
	border: 1px solid #415683;
	background: #253046;
	background: linear-gradient(to bottom, #212946 0%, #2c2c64 100%);
}

.c.big, .k.big {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: 14px;
}

input {
	color: #e6ebfb;
	border: 1px solid #bfbfbf;
}

input[type="checkbox"] {
	border: 1px solid #8a8a8a;
}

select, textarea {
	color: #e6ebfb;
	background: #414141;
	border: #8a8a8a solid 1px;
}

select {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

textarea {
	width: 99%;
	color: #ffffff;
	background: #354566;
	margin: 0 0 0 0;
}

.k {
	text-align: center;
	color: #e6ebfb;
	background: #42444d;
	border: 1px solid #415683;
}

td.l {
	color: #d2d2d2;
	vertical-align: top;
	padding: 0;
	background-color: #054144;
}

td.s {
	color: #e6ebfb;
}

div.j {
	border: 1px solid #415683;
}

table.s th {
	border: 0;
}

table.s th img {
	width: 89px;
	height: 89px;
}

div.z {
	color: #e6ebfb;
}

a:hover {
	color: #9c0;
	text-decoration: underline;
}

h1 {
	font-size: 11px;
	border-bottom: 0 solid #344566;
	width: 98%;
	text-align: center;
}

span {
	&.own {
		&deploy {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&transport {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&espionage {
			color: #ff9900;

			a {
				color: #d8d8d8;
			}
		}

		&harvest {
			color: #f9f900;

			a {
				color: #d8d8d8;
			}
		}

		&colony {
			color: #007dfb;

			a {
				color: #d8d8d8;
			}
		}

		&federation {
			color: #3aaf3a;

			a {
				color: #d8d8d8;
			}
		}

		&attack {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&missile {
			color: #99ffff;

			a {
				color: #d8d8d8;
			}
		}

		&destroy {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&hold {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}
	}

	&.attack {
		color: red;

		a {
			color: #d8d8d8;
		}
	}

	&.espionage {
		color: #ff0000;

		a {
			color: #d8d8d8;
		}
	}

	&.missile {
		color: #cc3333;

		a {
			color: #d8d8d8;
		}
	}

	&.destroy {
		color: #ff0000;

		a {
			color: #d8d8d8;
		}
	}

	&.federation {
		color: #007dfb;

		a {
			color: #d8d8d8;
		}
	}
}

tr.return th span {
	color: #339900;
}

tr.return th span a {
	color: #d8d8d8;
}

.error {
	color: red;
}

.warning {
	color: orange;
}

.success {
	color: lime;
}

.errormessage a {
	text-decoration: underline;
}

.allymember {
	color: lime;
}

.noob {
	color: #a0ffa0;
}

.strong {
	color: #ffa0a0;
}

.vacation {
	color: skyblue;
}

.inactive {
	color: #cccccc;
}

.longinactive {
	color: #999999;
}

.banned {
	text-decoration: line-through;
}

.clear {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	zoom: 1;
}

.contentBox {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -19px;
	position: relative;
	z-index: 1;
}

.table_menu{
	border-spacing: 0;

	td {
		padding: 0;
		margin: 0;
		border-spacing: 0;
	}
}

/* BBCode
 ------------ */
.quotetitle {
	margin: 0 0 0 0;
	padding: 2px 4px;
	border: solid 1px #C8CBD9;
	color: #7D8AA0;
	background-color: #EAECF2;
	font-size: 0.85em;
	font-weight: bold;
}

.quotecontent {
	margin: 0 0 0 0;
	padding: 5px;
	border: 1px solid #C8CBD9;
	border-top-width: 0;
	font-weight: normal;
	background-color: #EFF2F6;
	color: #444;

	a {
		color: #7D8AA0;
	}

	a:hover {
		color: #9c0;
		text-decoration: none;
	}
}

.quotewrapper {
	clear: both;
	margin: 0 0 0 0;
	background: #EAECF2 url(../images/quote_header.gif) top left no-repeat;
	padding-left: 17px;
	border: solid 1px #C8CBD9;
	border-bottom-color: #AEB3C5;
	border-right-color: #AEB3C5;
}

iframe {
	border-width: 0;
}

input[type=submit], input[type=button], input[type=reset], .button {
	background: #2B354E;
	border: 1px solid #415683;
	color: #FFFFFF;
	padding: 3px 10px;
	margin: 1px;
	min-width: 110px;
	text-decoration: none;
	font-weight: normal;
	box-sizing: border-box;
	display: inline-block;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, .button:hover {
	border-color: #517db5;
	color: #fbff6f;
	cursor: pointer;
	text-decoration: none;
}

input[type=text], input[type=number], input[type=password] {
	background: #2B354E;
	border: 1px solid #415683;
	color: #FFFFFF;
	font-size: 14px;
	margin: 0;
	text-align: center;
	width: auto;
}

.fleet-coordinates-input input[type=number] {
	width: 50px;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover {
	border-color: #517db5;
}

input[type=radio], input[type=radio] + label, input[type=checkbox] {
	cursor: pointer;
}

.errormessage {
	padding: 5px 3px;
}

.full {
	color: #ff3f3e !important;
}

img.info {
	margin-right: 5px;
	border: 1px solid #ccc;
}

.shoutbox {
	margin: 5px;
	vertical-align: text-top;
	height: 380px;
	min-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 695px;

	.date {
		&1 {
			text-decoration: none;
			font-weight: normal;
			color: #04AE04;
			padding: 2px 0;
		}

		&2 {
			text-decoration: none;
			font-weight: normal;
			color: #04AE04;
			padding: 2px 3px;
			background-color: #00FFAA
		}

		&3 {
			text-decoration: none;
			font-weight: normal;
			color: #04AE04;
			background-color: #ddd;
			padding: 2px 3px;
		}
	}

	div {
		margin: 5px 0;
	}

	.to {
		cursor: pointer;
		color: #ffffff;
		font-weight: bold;
	}

	.player {
		color: #7397E1;
		cursor: pointer;
		font-weight: bold;

		a {
			color: #7397E1;
		}
	}

	.private {
		color: red;
		cursor: pointer;
		font-weight: bold;

		a {
			color: red;
		}
	}
}

.activity {
	padding-top: 5px;

	.date1 {
		text-decoration: none;
		font-weight: normal;
		color: #04AE04;
		padding: 2px 0;
	}

	.to {
		cursor: pointer;
		color: #FFFFFF;
		font-weight: bold;
	}

	.title {
		color: #7acc72;
	}
}

.tip {
	display: none;
	padding: 4px;
	position: absolute;
	z-index: 1000;
	max-width: 600px;
	background: #252525;
	border-radius: 3px;
	border: 1px solid #ccc;

	table:first-child td:first-child {
		padding: 1px;
	}
}

td, th {
	cursor: default;
}

th {
	font-weight: normal;
}

button:focus {
	outline: none;
}

textarea#text {
	width: 100%;
}

.game_content {
	width: 1125px;
	margin-top: 10px;
	flex-grow: 2;
	display: flex;
	flex-direction: row;

	> .menu {
		width: 120px;
		margin: 0 15px 0 0;
		padding: 0;
		order: 1;

		li {
			display: inline;

			&:first-child > a {
				border-radius: 3px 3px 0 0;
			}

			&:last-child > a {
				border-radius: 0 0 3px 3px;
				border-bottom: 1px solid #40567f;
			}

			> a {
				background: #2B354E;
				display: block;
				float: none;
				text-align: center;
				border-top: 1px solid #40567f;
				border-left: 1px solid #40567f;
				border-right: 1px solid #40567f;
				border-bottom: none;
				margin: 0;
				color: #FFFFFF;
				font-weight: normal;
				padding: 5px;

				&.check, &:hover {
					background: #6B354E;
				}
			}
		}
	}

	> .content {
		overflow-x: auto;
		overflow-y: hidden;
		flex-shrink: 1000000;
		width: 100%;
		order: 2;
		position: relative;

		#gamediv {
			margin: 0;
			width: 100%;
		}
	}

	> .planetList {
		width: 135px;
		margin-left: 15px;
		order: 3;
	}
}

#box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	min-height: 100%;
	align-items: center;

	&.set_imperium, &.set_sim {
		align-items: baseline;

		.game_content {
			max-width: none !important;
			width: auto !important;
			min-width: 100%;

			> .content {
				white-space: nowrap;
			}
		}

		.game_menu {
			width: 100%;
		}
	}
}

.margin5 {
	margin: 5px
}

.separator {
	height: 5px;
	width: 100%;
	clear: both;
	font-size: 1px;
	line-height: 1px;
}

.viewport {
	position: relative;
}

.overContent {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #000;
   	opacity: 0.9;
	width: 120px;
	text-align: left;
}

.overContent img {
	margin-right: 3px;
}

.resNo {
	color: red;
}

.resYes {
	color: lime;
}

.noborder, table.noborder td, table.noborder th {
	border: 0 !important;
}

.startBuild {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: url(../images/build.png) 100% 0 no-repeat;
	height: 15px;
	padding-right: 25px;
	padding-top: 3px;

	.exp {
		font-size: 10px;
	}
}

.buildmax {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.error {
	padding: 10px;
	color: red;
	text-align: center;
}

.success {
	padding: 10px;
	color: lime;
	text-align: center;
}

ul {
	list-style: none outside;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 40px;

	li {
		text-align: left;
	}
}

.raceSelect input[type="button"] {
	font-size: 16px;
}

.tutorial {
	.solution {
		text-align: left;
		background: #13181D;
		border: 1px solid #030303;
		color: #848484;
		margin: 10px;
		padding: 20px;
		line-height: 15px;

		> ul {
			padding: 0;
			margin: 0;
			list-style: disc inside none;
		}
	}

	ul {
		list-style: decimal inside none;
	}
}

.game_menu {
	padding: 5px 0;
	background: #3a4a6e;
	border-radius: 0 0 5px 5px;
	border: 1px solid #425e8c;
	width: 1125px;
}

.planetList {
	.list {
		overflow-y: auto;
		overflow-x: hidden;
		height: auto;

		.planet {
			background: #354566;
			color: #BEBEBE;
			border: 1px solid #415683;
			margin-bottom: 5px;
			text-align: center;
			font-size: 10px;
			padding: 3px;
			position: relative;
			border-radius: 3px;

			> a {
				float: left;
				margin-right: 5px;
			}

			> div {
				max-width: 108px;
				overflow: hidden;
			}

			.reload {
				background: url(../images/reload-icon.png) 0 0 no-repeat;
				width: 20px;
				height: 20px;
				cursor: pointer;
				position: absolute;
				top: 2px;
				left: 3px;
			}

			&.type_5 {
				background: #883332;
			}

			&.type_3 {
				background: #707a73;
			}

			&.current {
				border: 2px solid #44d137;
				padding: 2px;

				.reload {
					top: 0;
					left: 1px;
				}
			}

			> span {
				margin-top: 3px;
			}
		}
	}
}

.topnav {
	margin: 0 0 5px 0;
	line-height: 1.4em;

	.empty {
		color: #3abc55
	}

	.full {
		color: #ff3f3e
	}
}

table td.c, table th, .table th {
	padding: 3px;
	vertical-align: middle;
}

.ok, .success, .positive {
	color: lime !important;
}

.notice, .zero, .neutral {
  color: yellow !important;
}

.error, .negative {
  color: #FF3F3E !important;
}

.table.galaxy {
	> tbody > tr > th {
		padding: 0;
		vertical-align: middle;
		text-align: center;
	}

	.img {
		font-size: 0;
		width: 30px;
		height: 32px;
	}
}

.odd {
	background-color: #303F5E;
}

span.star {
	color: #fff;
}

p {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: 10px;
	font-weight: bold;
}

.pic {
	width: 200px;
	height: 200px;
}

.tutorial h3 {
	margin: 15px 0;
}

.tutorial .end {
	width: 150px;
	height: 30px;
	color: orange;
	margin-top: 10px;
}

.shadow {
	opacity: 0.5;
}

.notAvailable {
	width: 100%;
	height: 122px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 99;
	text-align: center;

	span {
		background: url(../images/block.png) 0 1px no-repeat;
		padding-left: 25px;
		display: inline-block;
		margin-top: 50px;
		font-size: 16px;
		color: #ff4341;
		height: 35px;
	}
}

.set_admin input[type=submit], .set_admin input[type=button], .set_admin input[type=reset] {
	min-width: 20px;
}

.set_techtree #tabs a {
	font-weight: normal;
}

.tch {
	&_node
	{
		position: absolute;
		text-overflow: clip;
	}

	&_noreq
	{
		color: white;
		font-weight: bold;
		background-color: black;
		box-shadow: lime 0 0 6px 6px;
		border-radius: 3px;
		height: 30px;
		padding-top: 18px;
		text-align: center;
	}

	&_icon {
		&_lime
		{
			height: 50px;
			width: 50px;
			box-shadow: lime 0 0 6px 6px;
			border-radius: 3px;
			background-color: black;
		}

		&_yellow
		{
			height: 56px;
			width: 56px;
			box-shadow: yellow 0 0 6px 6px;
			border-radius: 3px;
			background-color: black;
		}

		&_red
		{
			height: 56px;
			width: 56px;
			box-shadow: red 0 0 6px 6px;
			border-radius: 3px;
			background-color: black;
		}
	}

	&_tx {
		&_lvl
		{
			font-size: 12px;
			font-weight: bold;
			position: relative;
			text-align: center;
			top: -17px;
			text-shadow: 0 0 3px #000000,0 0 3px #000000,0 0 3px #000000,0 0 3px #000000,0 0 4px #000000,0 0 4px #000000,0 0 4px #000000,0 0 4px #000000;
			margin-left: -3px;
		}

		&_nmcont
		{
			position: absolute;
			text-align: center;
			top: 64px;
			left: -28px;
			width: 120px;
		}

		&_name
		{
			font-size: 10px;
			text-align: center;
			box-shadow: inset 1px 1px 70px #000000, 1px 1px 4px #000000, -1px -1px 4px #000000;
			border-radius: 5px;
			padding: 0 3px 0 3px;
			margin-left: -5px;
		}
	}
}

#rf_techinfo {
	margin-top: 30px
}

.planet-image {
	position: relative;

	> a {
		display: block;
		border: 1px solid #415683;

		img {
			width: 100%;
		}
	}
}

.moon-image {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #354566;
	color: #BEBEBE;
	border: 1px solid #415683;
	padding: 3px;
	overflow: hidden;
	font-size: 0;
}

.bar .m1 {
	padding: 0 12px;
	white-space: nowrap;

	> b {
		font-size: 14px;
		vertical-align: top;
		margin-top: 3px;
		font-weight: normal;
		display: inline-block;
	}
}

.toolbar {
	text-align: center;
	padding: 2px 4px;
	font-size: 0;

	&.inline {
		display: inline-block;
	}

	.buttons {
		border: 1px solid #ccc;
		margin: 1px;
		padding: 2px;
		display: inline-block;
		font-size: 0;
		cursor: pointer;
		background-color: #fff;
	}

	.ed {
		width: 400px;
		height: 150px;
	}

	.colorpicker {
		background: #eee;
		width: 100%;
		padding: 0;
		margin-top: 0;
		display: block;
		text-align: center;
	}

	.gensmall {
		font-size: 1em;
		margin-top: 0;
		color: #000000;
		font-weight: 400;

		select {
			margin: 4px 0 0 0;
			padding: 0 0 0 0;
			font-weight: 400;
			white-space: nowrap;
			vertical-align: top;
			background-color: #f2f4f8;
			color: #000000;
		}
	}
}

.smiles {
	position: absolute;
	z-index: 1000;
	background: #C8CBD9;
	border: 2px solid #000000;
	padding: 10px;
	height: 300px;
	width: 500px;
	overflow: auto;
	top: -315px;
	right: 25px;
}

input[type="checkbox"], input[type="radio"] {
	margin: 3px;
}

.scrollbox::-webkit-scrollbar {
	width: 9px;height: 9px;

	&-button:start:decrement, &-button:end:increment {
		display: block;
		height: 0;
		background-color: transparent;
	}

	&-track-piece {
		background-color: #999;
		-webkit-border-radius: 8px;
	}

	&-thumb:vertical {
		height: 50px;
		background-color: #fafafa;
		-webkit-border-radius: 8px;
	}

	&-thumb:horizontal {
		width: 50px;
		background-color: #fafafa;
		-webkit-border-radius: 8px;
	}
}

.block {
	> .title {
		border: 1px solid #415683;
		border-bottom: 0;
		border-radius: 3px 3px 0 0;
		color : #DADADA;
		padding: 5px;
		font-size: 12px;
		font-weight: normal;
		text-align: left;
		background: #253046;
		background: linear-gradient(to bottom,  #212946 0%,#2c2c64 100%);

		input[type=submit] {
			padding: 0 10px 2px 10px;
		}
	}

	> .content {
		border: 1px solid #415683;
		border-top: 0;
		border-radius: 0 0 3px 3px;
		background: #37476a;
		color: #d7d7d7;
	}
}

.table.table-noborder > tbody > tr > th, .table.table-noborder > tbody > tr > td {
	border: 0 !important;
}

.buildings {
	height: 122px;
	background: #37476a;

	.img {
		height: 120px;
		width: 120px;
		float: left;
		background-color: #054144;
	}

	.title {
		background: #253046;
		padding: 3px;
		margin-left: 120px;
	}

	.actions {
		margin-left: 120px;
		padding: 3px;
	}

	.popup {
		display: none;
		width: 400px;
		position: absolute;
		top: 0;
		left: 0;
		background: #37476a;
		height: 120px;
		z-index: 100;
	}
}

.start {
	.avatar {
		padding: 15px;
		border: 1px solid #415683;
		display: inline-block;
		margin: 10px 5px;
	}

	&.race .content {
		text-align: center;
	}

	&.race .avatar {
		width: 40%;
		text-align: center;

		span {
			display: block;
			text-align: left;
			margin-top: 15px;
		}

		h3 {
			font-size: 16px;
			margin-top: 10px;
		}
	}
}

.start #tabs input[type=radio] {
	display: none;
}

.start #tabs input[type=radio]:checked + label {
	border: 1px solid #fff;
}

div.errormessage {
	color: #ff4d56;
	border: 1px solid #ff4d56;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}

.officiers {
	.powers {
		border-spacing: 0 !important;
		border-collapse: collapse;
		margin-top: 10px;

		td {
			padding: 2px 5px;
			color: #84CFEF;
		}
	}

	.row {
		border-bottom: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #37476a;
		color: #d7d7d7;
		border-bottom: 1px solid #425e8c;

		> div > img {
			width: 100%;
		}
	}

	&:last-child {
		border-bottom: 0;
	}
}

*{-webkit-font-smoothing: antialiased;}

#windowDialog {
	display: none;

	> .row {
		margin: 0;
	}
}

#building.row, .research.row, .shipyard.row {
	margin: 0;
}

#building.row > div, .research.row > div, .shipyard.row > div {
	padding: 1px;
}

#building.row > div > div, .research.row > div > div, .shipyard.row > div > div {
	border: 1px solid #415683;
}

.set_overview .block .content {
	padding: 5px;
}

.techtree {
	th {
		padding: 4px;
	}

	.row > div {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.row .title {
		display: table-cell;
		vertical-align: middle;
	}
}

.galaxy-select input[type=button] {
	min-width: 0;
}

.e404 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 20px 50px;
}

.alert a {
	color: #337ab7;
}

footer {
	background: transparent url(../images/bar-bg.gif) repeat-x 0 0;
	color: #848484;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	height: 19px;
	line-height: 19px;
	text-align: center;
	margin-top: 50px;
	width: 100%;

	a, a:link {
		color: #848484;
		margin: 0 10px;
		text-decoration: none;
		font-weight: normal;
	}

	a:hover {
		color: #9c0;
		text-decoration: none;
	}
}

.top_menu {
	display: flex;
	align-items: center;
	height: 27px;
}

#prophiler {
	.toolbar {
		min-height: inherit !important;
		font-size: 12px;

		nav ul li {
			padding: 0 5px !important;
		}

		h1 {
			padding: 0 15px !important;
			font-size: 16px !important;
			width: inherit;
		}
	}
}

#chatMsg {
	width: calc(100% - 100px);
	margin-top: 2px;
	font-size: 16px;
	padding: 2px;
}

div.table {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
}

.table {
	margin-bottom: 0;

	> :last-child {
		border-bottom: 1px solid #425e8c;
	}

	.row > div {
		padding: 4px 5px;
		border-right-width: 0;
		border-bottom-width: 0;

		&:last-child {
			border-right-width: 1px;
		}

		&.middle {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&.middle .row > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.table {
		background: transparent;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin:0;
}

.menu_opened {
	/*overflow: hidden;*/
}