@media (min-width: 480px) and (max-width: 1200px)
{
	.set_buildingsindex {
		.planetList {
			width: 60px;

			.list {
				width: 60px;

				.planet {
					> div {
						display: none;

						&.clear {
							display: block;
						}
					}

					img {
						width: 52px;
						height: 52px;
					}
				}
			}
		}

		.game_content > .main-content {
			width: 785px;
		}
	}

	.doubleth {
		height: 44px;
	}

	#application .game_content {
		width: 1000px;
	}

	html {
		font-size: 10px;
	}
}

@media (min-width: 1200px) and (max-width: 1600px)
{
	html {
		font-size: 11px;
	}
}

@media (min-width: 481px) and (max-width: 992px)
{
	#application .game_content {
		width: 800px;
	}

	.planetList .list {
		width: 60px;

		.planet > div.clear {
			display: block;
		}

		.planet img {
			width: 52px;
			height: 52px;
		}
	}

	.game_content > .planetList {
		width: 60px;
		margin-left: 5px;
	}

	.game_content .menu {
		width: 100px;
		margin-right: 5px;
	}

	.shoutbox {
		width: calc(100% - 10px);
	}

	.bar .m1 {
	    padding: 0 6px;
	}

	.officier {
		zoom: 0.8
	}
}