@media (max-width: 1200px)
{
	.set_buildingsindex {
		.planetList {
			width: 60px;

			.list {
				width: 60px;

				.planet {
					> div {
						display: none;

						&.clear {
							display: block;
						}
					}

					img {
						width: 52px;
						height: 52px;
					}
				}
			}
		}

		.game_content > .main-content {
			width: 785px;
		}
	}

	.doubleth {
		height: 44px;
	}

	#application .game_menu, #application .game_content {
		width: 1000px;
	}
}

@media (min-width: 1200px)
{
	#application .game_menu, #application .game_content {
		width: 1125px;
	}

	.game_content > .menu {
		width: 150px;
	}

	.game_content > .planetList {
		width: 160px;
	}

	.game_content > .menu li > a {
		padding: 8px;
		height:auto;
	}

	.topnav {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.shoutbox {
		width: 765px;
	}

	.doubleth {
		height: 44px;
	}

	#application.set_log .game_content, #application.set_imperium .game_content {
		max-width: 95%;
	}
}

@media (min-width: 1600px)
{
	body {
		font-size: 12px;
	}

	.planetList .list .planet {
		font-size: 11px;
	}

	.block > .title {
		font-size: 14px;
	}

	.shoutbox {
		font-size: 14px;
		width: calc(100% - 10px);
	}

	.buildings .actions {
		padding: 4px;
	}

	.buildings .title {
		padding: 4px;
	}

	table td.c, table th, table td.k, .table th {
		padding: 4px;
	}

	.doubleth {
		height: 48px;
	}

	.block > .content {
		font-size: 12px;
	}

	.set_buildingsindex .content-row > .block {
		width: 784px;
		margin: 0 auto;
	}
}

@media (min-width: 481px) and (max-width: 992px)
{
	#application .game_menu, #application .game_content {
		width: 790px;
	}

	.planetList .list {
		width: 60px;

		.planet > div.clear {
			display: block;
		}

		.planet img {
			width: 52px;
			height: 52px;
		}
	}

	.game_content > .planetList {
		width: 60px;
		margin-left: 5px;
	}

	.game_content .menu {
		width: 90px;
		margin-right: 5px;
	}

	.shoutbox {
		width: calc(100% - 10px);
	}

	.bar .m1 {
	    padding: 0 6px;
	}

	.officier {
		zoom: 0.8
	}
}

@media (min-width: 481px) and (max-width: 790px)
{
	#application .game_menu, #application .game_content, #application {
		width: 100%;
		min-width: 600px;
	}
}