.jconfirm.jconfirm-dialog {
	.jconfirm-box {
		padding: 3px;
		background-color: #344566;
		border: 1px solid #415680;

		.jconfirm-content-pane {
			margin-bottom: 0;
		}

		.jconfirm-closeIcon {
			top: 12px;
			color: white;
		}

		.jconfirm-title-c {
			border: 1px solid #415680;
			background-color: #253046;
			padding: 5px 13px;
			font-size: 1.1rem;
			margin-bottom: 3px;
			text-align: center;

			.jconfirm-title {
				color: #ffffff;

				font-family: Verdana, Arial, sans-serif !important;
				font-size: 13px !important;
				text-transform: uppercase;
			}
		}

		.jconfirm-content {
			font-size: 1.1rem;
		}

		&.loading:before {
			background: #344566;
		}

		&.loading:after {
			border-bottom-color: white;
			opacity: 0.8;
		}
	}

	.jconfirm-bg {
		background: #333;
		opacity: 0.7;
	}
}

#ajaxLoader {
	background: url('../images/loader-cat.svg') no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 25px;
	left: 25px;
	opacity: 0;
	transition: opacity 0.3s;
	visibility: hidden;
}

#ajaxLoader.active {
	visibility: visible;
	opacity: 1;
}