.idea/*
app/cache/*
app/config/config.ini
vendor/*
node_modules/*
chat/node_modules/*
Thumbs.db
.DS_Store
*.log
*.txt
*.map
*.lock
*.phar
public/mur/*
public/assets/avatars/*

public/assets/css/style.css
public/assets/css/bootstrap.css
.sass-cache/*