.idea/*
app/cache/*
app/config/*.ini
vendor/*
node_modules/*
chat/node_modules/*
Thumbs.db
.DS_Store
*.log
*.txt
*.map
*.lock
*.phar
public/mur/*
public/assets/avatars/*

public/assets/css/style.css
public/assets/css/bootstrap.css
.sass-cache/*

public/assets/admin/pages/css
public/assets/admin/global/css
app/modules/Core/Classes/Prophiler/View/css
public/assets/admin/global/plugins/bootstrap/css
/composer.lock
/public/assets/js/application.js
/package-lock.json
/public/assets/css/plugins/*.css
/public/assets/admin/css/app.css
