.idea/*
.nuxt
/old/app/cache/*
/old/app/config/*.ini
/old/config/*.ini
vendor
node_modules/*
chat/node_modules/*
Thumbs.db
.DS_Store
*.log
*.txt
*.map
*.lock
*.json
!package*.json
!composer*.json
*.phar
/old/public/assets/avatars/*
/old/public/assets/build/*
/data/
/.env
/_ide_helper*.php
/.phpstorm.meta.php
/public/assets/build/
/public/packages/
/database/database.sqlite
/public/storage
/public/css/filament
/public/js/filament
/public/css/filament-daterangepicker-filter
/public/js/filament-daterangepicker-filter
/public/css/malzariey/filament-daterangepicker-filter
/public/js/malzariey/filament-daterangepicker-filter
