includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app/
    level: 6
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
    	-
    		identifier: missingType.iterableValue