includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app/
    excludePaths:
    	- app/Http/Controllers/Admin/*
    	- app/Http/Controllers/XnsimController.php
    level: 5
    checkOctaneCompatibility: true
    checkModelProperties: true