.sprite {
	display:inline-block;
	overflow:hidden;
	background: url(/assets/images/sprite.png) no-repeat;
}

.bb_color_swatch {width:16px; height:16px; background-position: -341px -1px}
.bb_emoticon_grin {width:16px; height:16px; background-position: -324px -1px}
.bb_eye {width:16px; height:16px; background-position: -358px -1px}
.bb_film_add {width:16px; height:16px; background-position: -307px -1px}
.bb_image_add {width:16px; height:16px; background-position: -273px -1px}
.bb_palette {width:16px; height:16px; background-position: -256px -1px}
.bb_picture_add {width:16px; height:16px; background-position: -290px -1px}
.bb_rainbow {width:16px; height:16px; background-position: -477px -1px}
.bb_sound_add {width:16px; height:16px; background-position: -494px -1px}
.bb_television {width:16px; height:16px; background-position: -409px -1px}
.bb_text_align_center {width:16px; height:16px; background-position: -392px -1px}
.bb_text_align_justify {width:16px; height:16px; background-position: -426px -1px}
.bb_text_align_left {width:16px; height:16px; background-position: -460px -1px}
.bb_text_align_right {width:16px; height:16px; background-position: -443px -1px}
.bb_text_bold {width:16px; height:16px; background-position: -375px -1px}
.bb_text_italic {width:16px; height:16px; background-position: -18px -1px}
.bb_text_list_bullets {width:16px; height:16px; background-position: -69px -1px}
.bb_text_list_numbers {width:16px; height:16px; background-position: -52px -1px}
.bb_text_signature {width:16px; height:16px; background-position: -86px -1px}
.bb_text_strikethrough {width:16px; height:16px; background-position: -35px -1px}
.bb_text_underline {width:16px; height:16px; background-position: -1px -1px}
.bb_tick {width:16px; height:16px; background-position: -103px -1px}
.bb_user_comment {width:16px; height:16px; background-position: -154px -1px}
.bb_world_link {width:16px; height:16px; background-position: -205px -1px}
.ico_alliance {width:24px; height:24px; background-position: -333px -23px}
.ico_chat {width:24px; height:24px; background-position: -308px -23px}
.ico_exit {width:24px; height:24px; background-position: -358px -24px}
.ico_forum {width:24px; height:24px; background-position: -533px -24px}
.ico_fullscreen {width:24px; height:24px; background-position: -408px -24px}
.ico_mail {width:24px; height:24px; background-position: -458px -23px}
.ico_search {width:24px; height:24px; background-position: -483px -24px}
.ico_settings {width:24px; height:24px; background-position: -433px -24px}
.ico_sim {width:24px; height:24px; background-position: -383px -24px}
.ico_space {width:24px; height:24px; background-position: -508px -24px}
.ico_stats {width:24px; height:24px; background-position: -558px -24px}
.ico_support {width:24px; height:24px; background-position: -608px -24px}
.ico_tech {width:24px; height:24px; background-position: -633px -24px}
.ico_tutorial {width:24px; height:24px; background-position: -583px -23px}
.skin_b {width:16px; height:16px; background-position: -188px -1px}
.skin_batt0 {width:42px; height:22px; background-position: -597px -1px}
.skin_batt100 {width:42px; height:22px; background-position: -87px -24px}
.skin_deuterium {width:42px; height:22px; background-position: -1px -24px}
.skin_e {width:16px; height:16px; background-position: -222px -1px}
.skin_energie {width:42px; height:22px; background-position: -554px -1px}
.skin_kredits {width:42px; height:22px; background-position: -44px -24px}
.skin_kristall {width:42px; height:22px; background-position: -511px -1px}
.skin_m {width:16px; height:16px; background-position: -171px -1px}
.skin_message {width:42px; height:22px; background-position: -130px -24px}
.skin_metall {width:42px; height:22px; background-position: -242px -24px}
.skin_r {width:16px; height:16px; background-position: -137px -1px}
.skin_s {width:16px; height:16px; background-position: -120px -1px}
.skin_s_deuterium {width:22px; height:22px; background-position: -285px -24px}
.skin_s_energie {width:22px; height:22px; background-position: -219px -24px}
.skin_s_kristall {width:22px; height:22px; background-position: -196px -24px}
.skin_s_metall {width:22px; height:22px; background-position: -173px -24px}
.skin_z {width:16px; height:16px; background-position: -239px -1px}

.officier {
	display:inline-block;
	overflow:hidden;
	background: url(/assets/images/officiers.png) no-repeat;
}

.of601 {width:32px; height:32px; background-position: -444px -2px}
.of601_ikon {width:32px; height:32px; background-position: -410px -2px}
.of602 {width:32px; height:32px; background-position: -376px -2px}
.of602_ikon {width:32px; height:32px; background-position: -342px -2px}
.of603 {width:32px; height:32px; background-position: -308px -2px}
.of603_ikon {width:32px; height:32px; background-position: -274px -2px}
.of604 {width:32px; height:32px; background-position: -240px -2px}
.of604_ikon {width:32px; height:32px; background-position: -206px -2px}
.of605 {width:32px; height:32px; background-position: -172px -2px}
.of605_ikon {width:32px; height:32px; background-position: -138px -2px}
.of606 {width:32px; height:32px; background-position: -104px -2px}
.of606_ikon {width:32px; height:32px; background-position: -70px -2px}
.of607 {width:32px; height:32px; background-position: -36px -2px}
.of607_ikon {width:32px; height:32px; background-position: -2px -2px}