.page-building {

	&:not(.page-building-unit) .block > .title {
		border: 1px solid $border-color;
		margin: 0 2px 2px 0;
	}

	&-build-queue {
		margin: 2px 2px 2px 0;
	}

	.page-building-items {
		border: 0;
		background: transparent;

		.row {
			margin: 0;

			> div {
				padding: 0 2px 2px 0;
			}
		}

		&-item {
			border: 1px solid $border-color;
		}

		.building {
			background: $main-bg-color;

			&-info {
				display: flex;
				justify-content: flex-start;
				align-items: stretch;
				position: relative;

				&-img {
					height: 98px;
					width: 98px;
					background: #054144 no-repeat;
					position: relative;
					border-right: 1px solid #415683;
					border-bottom: 1px solid #415683;
					box-sizing: content-box;
				}
			}

			&.blocked .building-info-img:after {
				background: url(/images/buildings/blocked_frame.png) no-repeat;
				width: 98px;
				height: 98px;
				content: " ";
				position: absolute;
				display: block;
				top: 0;
				left: 0;
			}

			&-title {
				background: $head-bg-color;
				padding: 4px;
				font-size: 1.1rem;
			}

			&-info {
				&-actions {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
				}

				&-upgrade {
					position: absolute;
					bottom: 10px;
					right: 10px;

					svg.icon {
						fill: lime;
						width: 30px;
						height: 30px;
						display: block;
		    			margin: 0 auto;

						&.red {
							fill: #FF3F3E;
						}
					}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						&:hover svg.icon {
							fill: #3abc55;
						}
					}
				}

				&-time {
					display: flex;
					align-items: center;
					padding: 4px 0 0 4px;

					.icon {
						width: 20px;
						height: 14px;
						fill: #e0e0e0;
						margin-right: 5px;
					}
				}
			}

			&-effects {
				position: absolute;
				bottom: 0;
				left: 0;
				display: flex;
				height: 20px;
				align-items: center;
				justify-content: center;
				width: 100%;
				background: #253046;

				&-row {
					height: 17px;
					display: flex;
					align-items: center;

					span {
						display: block;
						font-size: 0.9rem;
					}

					.sprite {
						transform: scale(0.82);
					}
				}
			}

			&-required {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				flex-grow: 1;
			}

			&-price {
				position: static;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #253046;
				padding: 5px 0;
				height: auto;

				&-item {
					margin-right: 5px;
					display: flex;
					align-items: center;

					img {
						margin-right: 3px;
					}
				}
			}
		}
	}

	&.page-building-tech .page-building-items-item.building,
	&.page-building-unit .page-building-items-item.building {

		&.blocked .building-info-img:after {
			background: url(/images/buildings/blocked_frame-full.png) no-repeat;
			background-size: cover;
		}

		.tech-effects-row {
			display: flex;
			align-items: center;
			margin-top: 2px;
			margin-left: 4px;

			.icon {
				margin-right: 5px;
			}
		}

		.buildmax {
			position: absolute;
			bottom: 5px;
			right: 5px;
			display: flex;
			align-items: center;

			a {
				margin-right: 5px;
			}
		}
	}

	.icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		background-repeat: no-repeat;

		&.speed {
			background-image: url('/images/icons/speed.png');
			background-position-y: 1px;
		}

		&.armor {
			background-image: url('/images/icons/armor.png');
			background-position-y: 2px;
		}

		&.damage {
			background-image: url('/images/icons/damage.png');
		}

		&.shield {
			background-image: url('/images/icons/shield.png');
			background-position-y: 1px;
		}
	}

	.page-building-unit-queue {
		margin-right: 2px;
	}
}