.page-galaxy {

	&-select {
		input[type=button] {
			min-width: 0;
		}

		input[type=number] {
			width: 60px;
		}
	}

	.table.galaxy {
		border-spacing: 0;

		.debris_0 {
			background: rgb(0, 100, 0) none;
		}

		.debris_50 {
			background: rgb(100, 100, 0) none;
		}

		.debris_100 {
			background: rgb(100, 0, 0) none;
		}

		> tr > th {
			padding: 1px;
			vertical-align: middle;
			text-align: center;
		}

		.img {
			max-height: 34px;
			padding: 0;
			font-size: 0;
		}

		.actions {
			font-size: 0;

			a {
				display: inline-block;
			}

			a + a, a + span, span + a {
				margin-left: 4px;
			}
		}
	}
}