//
// Core
//


// Base
@import "../core/base/container";
@import "../core/base/page-loader";
@import "../core/base/normalize";
@import "../core/base/animations";
@import "../core/base/helpers";
@import "../core/base/mixins/grid";
@import "../core/base/grid";
@import "../core/base/portlet";
@import "../core/base/datatable";
@import "../core/base/scrolltop";
@import "../core/base/form";
@import "../core/base/input-icon";
@import "../core/base/checkbox";
@import "../core/base/radio";
@import "../core/base/switch";
@import "../core/base/option";
@import "../core/base/avatar";
@import "../core/base/spinner";
@import "../core/base/loader";
@import "../core/base/pulse";
@import "../core/base/dialog";
@import "../core/base/mixins/wave";

// Vendors
@import "../vendors/perfect-scrollbar";
@import "../vendors/blockui";
@import "../vendors/fullcalendar";
@import "../vendors/bootstrap-datepicker";
@import "../vendors/bootstrap-notify";
@import "../vendors/bootstrap-switch";
@import "../vendors/bootstrap-datetimepicker";
@import "../vendors/bootstrap-timepicker";
@import "../vendors/bootstrap-daterangepicker";
@import "../vendors/bootstrap-touchspin";
@import "../vendors/bootstrap-maxlength";
@import "../vendors/bootstrap-select";
@import "../vendors/bootstrap-session-timeout";
@import "../vendors/jqvmap";
@import "../vendors/ion-range-slider";
@import "../vendors/typeahead";
@import "../vendors/nouislider";
@import "../vendors/summernote";
@import "../vendors/bootstrap-markdown";
@import "../vendors/dropzone";
@import "../vendors/recaptcha";
@import "../vendors/toastr";
@import "../vendors/gmaps";
@import "../vendors/fontawesome5";
@import "../vendors/jstree";
@import "../vendors/select2";
@import "../vendors/sweetalert2";
@import "../vendors/datatables";
@import "../vendors/jquery-repeater";
@import "../vendors/duallistbox";
@import "../vendors/uppy";
@import "../vendors/quill";
@import "../vendors/tagify";

// General
@import "general/grid-nav-v2";
@import "general/grid-nav";
@import "general/head";
@import "general/list-pics";
@import "general/list-timeline";
@import "general/my-cart";
@import "general/nav";
@import "general/notification";
@import "general/notification-v2";
@import "general/profile";
@import "general/notes";
@import "general/timeline-v1";
@import "general/timeline-v2";
@import "general/timeline-v3";
@import "general/user-card";
@import "general/user-card-v2";
@import "general/user-card-v3";
@import "general/media";
@import "general/pagination";
@import "general/searchbar";
@import "general/callout";
@import "general/iconbox";
@import "general/infobox";
@import "general/ribbon";

// Widgets - Chat
@import "general/chat";


// Layout
@import "layout/demo-panel";
@import "layout/offcanvas-panel";
@import "layout/quick-panel";
@import "layout/quick-search";
@import "layout/scroll";
@import "layout/sticky-toolbar";
@import "layout/app";
@import "layout/subheader";

// Typography
@import "typography/badge";
@import "typography/demo";
@import "typography/divider";
@import "typography/heading";
@import "typography/link";
@import "typography/section";
@import "typography/separator";
@import "typography/svg-icon";
