.page-overview-officiers {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 5px;
}

.page-overview-officiers-item {
	display: block;
	margin: 5px 2px 0 2px;

	a {
		display: inline-block;
	}
}

.page-overview-officiers-item + .page-overview-officiers-item {
	margin-left: 0;
}

.page-overview .block .content {
	padding: 5px;
}

.page-overview-planet-image input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.page-overview-planet-image label {
	border: 1px solid transparent;
}

.page-overview-planet-image input[type=radio]:checked + label {
	border-color: #3abc55;
}