body{
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	width: 100%;
	height: 100%;
	background: #000000 url('/assets/images/main_background.jpg') center no-repeat;
}

html {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

textarea, input { outline: none; }

a {
outline: none;
	color: #ffebc7;
}

a:hover {
	text-decoration: none;
}

a:focus
{
-moz-outline-style: none;
}

h1 {
	font-size: 19px;
	font-weight: normal;
	margin: 0px;
}

p {
	margin: 12px 0px 0px 0px;
}

::-webkit-input-placeholder {
	color: #ffffff;
}

:-moz-placeholder {
	color: #ffffff;
}

.smm {
	text-align: center;
	position: absolute;
	bottom: 12%;
	height: 24px;
	width: 100%;
	margin: -12px 0 0 0;
}

.right {
	width: 50%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 10px;
}

.right .middle{
	height: 132px;
	position: absolute;
	top: 40%;
	margin: -66px 0 0 0;
	width: 100%;
}

.right .middle .text{
	margin: 0 auto;
	max-width: 600px;
}

.left {
	width: 50%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 10px;
}

.left .middle{
	height: 78px;
	position: absolute;
	top: 40%;
	margin: -39px 0 0 0;
	width: 100%;
}

.left .middle .loginform {
	width: 362px;
	margin: 0 auto;
}

.bottom {
	position: absolute;
	height: 27px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background: url('/assets/images/main_bottom.png') repeat-x;
}

.bottom .desk {
	color: #848484;
	position: absolute;
	left: 7px;
	top:7px;
	font-size: 11px;
}

.bottom .nav {
	color: #ffffff;
	position: absolute;
	left: 7px;
	right: 7px;
	top:7px;
	text-align: center;
	font-size: 11px;
}

.bottom .copy {
	color: #848484;
	position: absolute;
	right: 7px;
	top:7px;
	font-size: 11px;
}

.bottom a {
	color: #ffffff;
}

.bottom a:hover {
	color: #feefaa;
}

#reg_button {
	margin-top: 18px;
	text-align: center;
	background: #ffb76b;
	background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04));
	background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
	height: 40px;
	line-height: 40px;
	width: 150px;
	color: #111;
	border: 1px solid #000;
	font-size: 16px;
	border-radius: 5px;
	font-weight: bold;
	font-family: Arial;
	cursor: pointer;
	text-decoration: none;
}

#reg_button a {
	text-decoration: none;
	color: #111;
}

#reg_button img {
	cursor: pointer;
}

.login {
	font-size: 19px;
}

.login-inputs {
	margin-top: 6px;
}

.input-text {
	display: block;
	float: left;
	background: url('/assets/images/login_input.png') no-repeat;
	width: 115px; /* 121 - 3*2 */
	height: 17px; /*23 - 3*2 */
	border: none;
	color: #ffffff;
	padding: 3px 3px;
	margin-right: 9px;
}

.input-submit {
	display: block;
	float: left;
	background: #fcfcfc;
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(50%,#eaeaea), color-stop(51%,#eaeaea), color-stop(100%,#c4c4c4));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c4c4c4',GradientType=0 );
	width: 92px;
	height: 23px;
	color: #333;
	margin-right: 9px;
	cursor: pointer;
	border: 1px solid #000;
}

.lost-pass {
	padding-left: 201px;
}

.lost-pass a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
}

.lost-pass a:hover {
	color: #feefaa;
	text-decoration: none;
	border-bottom: 1px dotted #feefaa;
}

#mask {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #000000;
}

.sm {
	margin-top: 14px;
}

#uLogin div {
	display:none;
}

.remember input {
	margin-left: 0;
}


.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th
{
	text-align           : center;
	padding         : 3px 3px;
    background: #354566;
	color: #BEBEBE;
	border: 1px solid #415683;
	font-size: 10px !important;
}

.text-left {
	text-align: left;
}

.form input[type=submit], .form input[type=button] {
	background: #2B354E;
	border: 1px solid #415683;
	color: #FFFFFF;
	padding: 4px 10px;
	margin: 1px;
	font-size: 12px !important;
	font-weight: normal;
}

.form input[type=text], .form input[type=password] {
	background: #2B354E;
	border: 1px solid #415683;
	color: #FFFFFF;
	font-size: 12px !important;
	margin: 0px;
	text-align: center;
	width: 95%;
	padding:4px;
}

label.error, div.error {
	display: block;
	color: #ff453a;
	text-align: left;
	font-weight: normal;
}

div.error {
	margin-top: 5px;
	margin-bottom: 5px;
}

#loadingOverlay {
	position:absolute;
	background-color:#ddd;
	width:140px;
	color:#333;
	padding:10px;
	vertical-align:top;
	text-align:center;
	top:100px;
	display: none;
	z-index: 1000;
	left: 50%;
	margin-left: -70px;
}

.list {
	height: 300px;
	width: 800px;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -400px;
}

.list .universe {
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 250px;
	height: 100%;
	background:#354566;
	padding: 10px;
	box-sizing:border-box;
	cursor: pointer;
}

.list .universe:hover {
	background: #253046;
	border: 1px solid #999;
}

.list .universe:last-child {
	margin-right: 0;
}

.list .universe .title {
	font-size: 16px;
	text-align: center;
	color: #BEBEBE;
	font-weight: bold;
}

.list .universe .status {
	color: lime;
	font-size: 11px;
	margin-top: 10px;
	text-align: center;
}

.list .universe div.speed {
	margin-top: 20px;
	font-size: 12px;
}

.list .universe ul.speed {
	list-style-position: inside;
	padding-left: 0;
}

.list .universe .link a {
	margin-top: 20px;
	margin-left: 70px;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	background: #fcfcfc;
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(50%,#eaeaea), color-stop(51%,#eaeaea), color-stop(100%,#c4c4c4));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#eaeaea 50%,#eaeaea 51%,#c4c4c4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c4c4c4',GradientType=0 );
	width: 92px;
	color: #333;
	margin-right: 9px;
	cursor: pointer;
	border: 1px solid #000;
}

.list .universe .description {
	font-size: 12px;
	margin-top: 20px;
	color: #BDEBBA;
}

.ok, .success, .positive {
	color: lime !important;
}

.notice, .zero, .neutral {
  color: yellow !important;
}

.error, .negative {
  color: #FF3F3E !important;
}

@media only screen and (max-width: 768px)
{
	.right {
		position: static;
		width: auto;
	}

	.left {
		position: static;
		width: auto;
	}

	.right .middle {
		position: static;
		margin: 0;
		height: auto;
		padding: 15px;
	}

	.left .middle {
		position: static;
		margin: 0;
		padding: 15px;
		height: 200px;
		padding-bottom: 50px;
	}

	#reg_button {
		margin: 10px auto 0 auto;
	}

	body {
		background:#000 url(/skins/default/img/starfield_01.gif) repeat 0 0 fixed;
	}

	.left .middle .loginform {
		width: auto;
	}

	.bottom {
		background: #231f0c;
		height: 40px;
	}

	.bottom .desk, .bottom .copy {
		display: none;
	}

	.right .middle .text {
		text-align: center;
	}

	.input-text {
		width: 105px;
		border: 1px solid #a2a2a2;
	}
}