html {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}



::-webkit-input-placeholder {
	color: #ffffff;
}

:-moz-placeholder {
	color: #ffffff;
}

.list {
	height: 300px;
	width: 800px;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -400px;
}

.list .universe {
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 250px;
	height: 100%;
	background: #354566;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

.list .universe:hover {
	background: #253046;
	border: 1px solid #999;
}

.list .universe:last-child {
	margin-right: 0;
}

.list .universe .title {
	font-size: 16px;
	text-align: center;
	color: #bebebe;
	font-weight: bold;
}

.list .universe .status {
	color: lime;
	font-size: 11px;
	margin-top: 10px;
	text-align: center;
}

.list .universe div.speed {
	margin-top: 20px;
	font-size: 12px;
}

.list .universe ul.speed {
	list-style-position: inside;
	padding-left: 0;
}

.list .universe .link a {
	margin-top: 20px;
	margin-left: 70px;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(50%, #eaeaea), color-stop(51%, #eaeaea), color-stop(100%, #c4c4c4));
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%, #eaeaea 50%, #eaeaea 51%, #c4c4c4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#c4c4c4', GradientType=0);
	width: 92px;
	color: #333;
	margin-right: 9px;
	cursor: pointer;
	border: 1px solid #000;
}

.list .universe .description {
	font-size: 12px;
	margin-top: 20px;
	color: #bdebba;
}

.ok, .success, .positive {
	color: lime !important;
}

.notice, .zero, .neutral {
	color: yellow !important;
}

.error, .negative {
	color: #ff3f3e !important;
}