@import "variables";

html {
	height: 100%;
	overflow-y: scroll;
	padding: 0;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}

:focus {
	outline: none;
}

a {
	cursor: pointer;
	color: $text-color;
	text-decoration: none;

	&:focus, &:hover {
		color: #9c0 !important;
		text-decoration: none;
		outline: none;
	}
}

.td {
	padding: 1px;
}

.image {
	border: 0;
}

p table {
	border: 0;
}

p td {
	text-align: center;
	font-size: 0.9rem;
}

table table td, .table table td {
	padding: 0;
	margin-right: 0;
	border: 0;
}

body {
	background: #000 url(/images/background_1.jpg) no-repeat bottom fixed;
	height: 100%;
	width: 100%;
	font: 1rem verdana, arial, sans-serif;
	color: $text-color;
	line-height: normal;
}

#__nuxt, #__layout {
	max-height: 100%;
	height: 100%;
}

table th, .table th, .th {
	text-align: center;
	padding: 2px 3px;
	background: $main-bg-color;
	color: #d7d7d7;
	border: 1px solid $border-color;
	vertical-align: middle;
	font-size: 1.1rem;
}

.top-menu-container {
	display: flex;
	justify-content: space-between;
}

td.b, div.b {
	padding: 3px 3px 3px 3px;
	border: 1px solid $border-color;
	color: #ebebeb;
	background: #353535;
	font-weight: normal;
	text-align: left;
}

th.b {
	padding: 3px 3px 3px 3px;
	color: #ebebeb;
	background: #353535;
	text-align: left;
	font-weight: normal;
	border: 1px solid #202020;
	word-wrap: break-word;
	max-width: 556px;
}

.c, table .c {
	color: $text-color;
	padding: 2px 3px;
	text-align: center;
	font-weight: normal;
	border: 1px solid $border-color;
	background: $head-bg-color;
	font-size: 1.1rem;
}

.c.big, .k.big {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: 1.2rem;
}

input {
	color: #e6ebfb;
	border: 1px solid #bfbfbf;
}

input[type="checkbox"] {
	border: 1px solid #8a8a8a;
}

select, textarea {
	color: #e6ebfb;
	background: #414141;
	border: #8a8a8a solid 1px;
}

select {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

textarea {
	width: 99%;
	color: #ffffff;
	background: #354566;
	margin: 0 0 0 0;
}

.k, td.k {
	text-align: center;
	color: #e6ebfb;
	background: #42444d;
	border: 1px solid $border-color;
}

td.l {
	color: #d2d2d2;
	vertical-align: top;
	padding: 0;
	background-color: #054144;
}

td.s {
	color: #e6ebfb;
}

div.j {
	border: 1px solid $border-color;
}

table.s th {
	border: 0;
}

table.s th img {
	width: 89px;
	height: 89px;
}

div.z {
	color: #e6ebfb;
}

h1 {
	font-size: 0.9rem;
	border-bottom: 0 solid #344566;
	width: 98%;
	text-align: center;
}

.overview-fleets-row {
	.own {
		&.deploy {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&.transport {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&.espionage {
			color: #ff9900;

			a {
				color: #d8d8d8;
			}
		}

		&.harvest {
			color: #f9f900;

			a {
				color: #d8d8d8;
			}
		}

		&.colony {
			color: #007dfb;

			a {
				color: #d8d8d8;
			}
		}

		&.federation {
			color: #3aaf3a;

			a {
				color: #d8d8d8;
			}
		}

		&.attack {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&.missile {
			color: #99ffff;

			a {
				color: #d8d8d8;
			}
		}

		&.destroy {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}

		&.hold {
			color: #33ff33;

			a {
				color: #d8d8d8;
			}
		}
	}

	.attack {
		color: red;

		a {
			color: #d8d8d8;
		}
	}

	.espionage {
		color: #ff0000;

		a {
			color: #d8d8d8;
		}
	}

	.missile {
		color: #cc3333;

		a {
			color: #d8d8d8;
		}
	}

	.destroy {
		color: #ff0000;

		a {
			color: #d8d8d8;
		}
	}

	.federation {
		color: #007dfb;

		a {
			color: #d8d8d8;
		}
	}

	.return, .own.return {
		color: #339900;

		a {
			color: #d8d8d8;
		}
	}
}

.warning {
	color: orange;
}

.success {
	color: lime;
}

input[type=text].error, input[type=password].error, input[type=email].error, textarea.error {
	border-color: #ff453a !important;
}

input[type=checkbox].error {
	box-shadow: 0 0 10px 2px #ff453a;
}

.errormessage a {
	text-decoration: underline;
}

.allymember {
	color: lime;
}

.noob {
	color: #a0ffa0;
}

.strong {
	color: #ffa0a0;
}

.vacation {
	color: skyblue;
}

.inactive {
	color: #cccccc;
}

.longinactive {
	color: #999999;
}

.banned {
	text-decoration: line-through;
}

.clear {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	zoom: 1;
}

.table_menu{
	border-spacing: 0;

	td {
		padding: 0;
		margin: 0;
		border-spacing: 0;
	}
}

/* BBCode
 ------------ */


iframe {
	border-width: 0;
}

input[type=submit], input[type=button], input[type=reset], .button, button {
	background: $head-bg-color;
	border: 1px solid $border-color;
	color: $text-color;
	padding: 3px 10px;
	margin: 1px;
	min-width: 110px;
	text-decoration: none;
	font-weight: normal;
	box-sizing: border-box;
	display: inline-block;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, .button:hover, button:hover {
	border-color: $border-hover-color;
	color: #fbff6f;
	cursor: pointer;
	text-decoration: none;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
	background: $head-bg-color;
	border: 1px solid $border-color;
	color: $text-color;
	font-size: 1.3rem;
	margin: 0;
	text-align: center;
	width: auto;
	max-width: 100%;
}

.fleet-coordinates-input input[type=number] {
	width: 50px;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, textarea:hover {
	border-color: #517db5;
}

input[type=radio], input[type=radio] + label, input[type=checkbox] {
	cursor: pointer;
}

.errormessage {
	padding: 5px 3px;
}

.full {
	color: #ff3f3e !important;
}

img.info {
	margin-right: 5px;
	border: 1px solid #ccc;
}

.activity {

	font-size: 1rem;

	+ .activity {
		padding-top: 5px;
	}

	.date1 {
		text-decoration: none;
		font-weight: normal;
		color: #04AE04;
		padding: 2px 0;
	}

	.to {
		cursor: pointer;
		color: #FFFFFF;
		font-weight: bold;
	}

	.title {
		color: #7acc72;
	}
}

td, th {
	cursor: default;
}

th {
	font-weight: normal;
}

button:focus {
	outline: none;
}

textarea#text {
	width: 100%;
}

main {
	width: $container-width;
	margin-top: 10px;
	flex-grow: 2;
	display: flex;
	flex-direction: row;
}

.main-menu {
	width: $menu-width;
	margin-right: 15px;
	order: 1;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		display: inline;

		&:first-child > a {
			border-radius: 3px 3px 0 0;
		}

		&:last-child > a {
			border-radius: 0 0 3px 3px;
			border-bottom: 1px solid $menu-border-color;
		}

		> a {
			background: $menu-bg-color;
			display: block;
			text-align: center;
			border: 1px solid $menu-border-color;
			border-bottom: none;
			margin: 0;
			color: $text-color;
			font-weight: normal;
			padding: 8px;
			transition-property: background;
			transition-duration: .25s;
			font-size: 1.1rem;

			&.active, &:hover {
				background: $menu-bg-a-color;
				text-decoration: none;
			}
		}
	}
}

.main-content {
	overflow-x: visible;
	overflow-y: visible;
	flex-shrink: 1000000;
	width: 100%;
	order: 2;
}

.main-planets {
	order: 3;
	margin-left: 15px;
	width: $planets-width;
}

.application {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	min-height: 100%;
	align-items: center;
	//position: relative;

	&.set_sim {

		main {

			> .main-content {
				white-space: nowrap;
			}
		}
	}
}

.margin5 {
	margin: 5px
}

.separator {
	height: 5px;
	width: 100%;
	clear: both;
	font-size: 1px;
	line-height: 1px;
}

.resNo {
	color: red;
}

.resYes {
	color: lime;
}

.noborder, table.noborder td, table.noborder th, table.noborder tr {
	border: 0 !important;
}

.information-message .error, .message.error {
	padding: 10px;
	color: red;
	text-align: center;
}

.success {
	padding: 10px;
	color: lime;
	text-align: center;
}

ul {
	list-style: none outside;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 40px;

	li {
		text-align: left;
	}
}

.raceSelect input[type="button"] {
	font-size: 1.3rem;
}

.tutorial {
	.solution {
		text-align: left;
		background: #13181D;
		border: 1px solid #030303;
		color: #848484;
		margin: 10px;
		padding: 20px;
		line-height: 15px;

		> ul {
			padding: 0;
			margin: 0;
			list-style: disc inside none;
		}
	}

	ul {
		list-style: decimal inside none;
	}
}

.top-menu-container {
	padding: 10px 0;
	background: $main-bg-color;
	border-radius: 0 0 5px 5px;
	border: 1px solid $border-color;
}

.main-planets {
	.list {
		overflow-y: auto;
		overflow-x: hidden;
		height: auto;

		.planet {
			background: $main-bg-color;
			color: $text-color;
			border: 1px solid $border-color;
			margin-bottom: 5px;
			text-align: center;
			font-size: 0.9rem;
			padding: 3px;
			position: relative;
			border-radius: 3px;

			> a {
				float: left;
				margin-right: 5px;
			}

			> div {
				max-width: 108px;
				overflow: hidden;
			}

			.reload {
				background: url(/images/reload-icon.png) 0 0 no-repeat;
				width: 20px;
				height: 20px;
				cursor: pointer;
				position: absolute;
				top: 2px;
				left: 3px;
			}

			&.type_5 {
				background: #883332;
			}

			&.type_3 {
				background: #707a73;
			}

			&.current {
				border: 1px solid #44d137;

				.reload {
					top: 0;
					left: 1px;
				}
			}

			> span {
				margin-top: 3px;
			}
		}
	}
}

.resource-panel {
	margin: 0 auto 10px auto;
	width: 80%;

	.empty {
		color: #3abc55
	}

	.full {
		color: #ff3f3e
	}
}

table td.c, table th, .table th {
	padding: 4px;
	vertical-align: middle;
}

.ok, .success, .positive {
	color: lime !important;
}

.notice, .zero, .neutral {
  color: yellow !important;
}

.negative {
  color: #FF3F3E !important;
}

span.star {
	color: #fff;
}

p {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: 0.8rem;
	font-weight: bold;
}

.pic {
	width: 200px;
	height: 200px;
}

.tutorial h3 {
	margin: 15px 0;
}

.tutorial .end {
	width: 150px;
	height: 30px;
	color: orange;
	margin-top: 10px;
}

.set_techtree #tabs a {
	font-weight: normal;
}

.tch {
	&_node
	{
		position: absolute;
		text-overflow: clip;
	}

	&_noreq
	{
		color: white;
		font-weight: bold;
		background-color: black;
		box-shadow: lime 0 0 6px 6px;
		border-radius: 3px;
		height: 30px;
		padding-top: 18px;
		text-align: center;
	}

	&_icon {
		&_lime
		{
			height: 50px;
			width: 50px;
			box-shadow: lime 0 0 6px 6px;
			border-radius: 3px;
			background-color: black;
		}

		&_yellow
		{
			height: 56px;
			width: 56px;
			box-shadow: yellow 0 0 6px 6px;
			border-radius: 3px;
			background-color: black;
		}

		&_red
		{
			height: 56px;
			width: 56px;
			box-shadow: red 0 0 6px 6px;
			border-radius: 3px;
			background-color: black;
		}
	}

	&_tx {
		&_lvl
		{
			font-size: 1rem;
			font-weight: bold;
			position: relative;
			text-align: center;
			top: -17px;
			text-shadow: 0 0 3px #000000,0 0 3px #000000,0 0 3px #000000,0 0 3px #000000,0 0 4px #000000,0 0 4px #000000,0 0 4px #000000,0 0 4px #000000;
			margin-left: -3px;
		}

		&_nmcont
		{
			position: absolute;
			text-align: center;
			top: 64px;
			left: -28px;
			width: 120px;
		}

		&_name
		{
			font-size: 0.8rem;
			text-align: center;
			box-shadow: inset 1px 1px 70px #000000, 1px 1px 4px #000000, -1px -1px 4px #000000;
			border-radius: 5px;
			padding: 0 3px 0 3px;
			margin-left: -5px;
		}
	}
}

#rf_techinfo {
	margin-top: 30px
}

.planet-image {
	position: relative;

	> a {
		display: block;
		border: 1px solid $border-color;

		img {
			width: 100%;
		}
	}
}

.moon-image {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #354566;
	color: #BEBEBE;
	border: 1px solid $border-color;
	padding: 3px;
	overflow: hidden;
	font-size: 0;
}

.top-menu-block .m1 {
	padding: 0 12px;
	position: relative;

	> b {
		font-size: 1rem;
		vertical-align: top;
		font-weight: normal;
		display: inline-block;
		position: absolute;
		top: -5px;
		right: 0;
		background: #7b0000;
		border-radius: 50%;
		padding: 2px 6px;
	}

	svg.red {
		fill: #e40d0d;
	}
}

.smiles {
	position: absolute;
	z-index: 1000;
	background: #C8CBD9;
	border: 2px solid #000000;
	padding: 10px;
	height: 300px;
	width: 500px;
	overflow: auto;
	top: -315px;
	right: 25px;
}

.smiles img {
	cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
	margin: 3px;
}

.block {
	> .title {
		border: 1px solid $border-color;
		border-bottom: 0;
		border-radius: 3px 3px 0 0;
		color : $text-color;
		padding: 5px;
		font-size: 1.2rem;
		font-weight: normal;
		text-align: left;
		background: $head-bg-color;

		input[type=submit] {
			padding: 0 10px 2px 10px;
		}

		+ .content {
			border-top: 0;
		}
	}

	> .content {
		border: 1px solid $border-color;
		border-radius: 0 0 3px 3px;
		background: $main-bg-color;
		color: $text-color;
		font-size: 1rem;
	}

	+ .block {
		margin-top: 5px;
	}
}

.table.table-noborder > tbody > tr > th, .table.table-noborder > tbody > tr > td {
	border: 0 !important;
}

.start {
	.avatar {
		padding: 15px;
		border: 1px solid $border-color;
		display: inline-block;
		margin: 10px 5px;
	}

	&.race .content {
		text-align: center;
	}

	&.race .avatar {
		width: 40%;
		text-align: center;

		span {
			display: block;
			text-align: left;
			margin-top: 15px;
		}

		h3 {
			font-size: 1.3rem;
			margin-top: 10px;
		}
	}
}

.start #tabs input[type=radio] {
	display: none;
}

.start #tabs input[type=radio]:checked + label {
	border: 1px solid #fff;
}

div.errormessage {
	color: #ff4d56;
	border: 1px solid #ff4d56;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}

.error-message {
	color: #ff4d56;
}

.e404 {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 20px 50px;
}

.alert a {
	color: #337ab7;
}

footer {
	background: #000 url(/images/bar-bg.gif) repeat-x top;
	color: #848484;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 50px;
	width: 100%;

	a, a:link {
		color: #848484;
		margin: 0 10px;
		text-decoration: none;
		font-weight: normal;
	}

	a:hover {
		color: #9c0;
		text-decoration: none;
	}
}

.top-menu-block {
	display: flex;
	align-items: center;
}

#prophiler {
	.toolbar {
		min-height: inherit !important;
		font-size: 1rem;

		nav ul li {
			padding: 0 5px !important;
		}

		h1 {
			padding: 0 15px !important;
			font-size: 16px !important;
			width: inherit;
		}
	}
}

div.table {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
}

.table {
	margin-bottom: 0;

	> :last-child {
		border-bottom: 1px solid $border-color;
	}

	.row > div {
		padding: 4px 5px;
		border-right-width: 0;
		border-bottom-width: 0;

		&:last-child {
			border-right-width: 1px;
		}

		&.middle {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&.middle .row > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.table {
		background: transparent;
	}
}

.table + .block {
	padding-top: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin:0;
}

.doubleth {
	height: 50px;
}

.line {
	background: #415866;
	height: 1px;
	margin: 4px 0 2px 0;
}

.resource-panel {
	&-item {
		&-tooltip {
			width: 150px;
			font-size: 0.9rem;
			color: #c5c5c5;
			text-align: left;

			h1 {
				color: #6f9fc8;
				font-size: 0.9rem;
				white-space: nowrap;
				text-align: left;
				font-weight: normal;
			}

			table {
				width: 100%;
			}
		}

		&-icon {
			display: inline-block;
		}

		.skin_s_metal,
		.skin_s_crystal,
		.skin_s_deuterium,
		.skin_s_energy {
			display: none;
		}
	}
}

@media (min-width: 481px)
{
	.row > div.col-sm-4 + div.col-sm-4 {
		padding-left: 0;
	}
}

header svg.icon {
	width: 25px;
	height: 25px;
	fill: #d7d7d7;
}

header a:hover svg.icon {
	fill: #9c0;
}

.page-alliance-chat .image, .page-players .image {
	max-width: 556px !important
}

.padding-0 {
	padding: 0 !important;
}

.information-message {
	padding: 5px 10px;
	margin-bottom: 10px;
	text-align: center;
}

.iframe {
	main {
		max-width: 1000px;
		width: calc(100% - 20px);
	}
}

.width-full {
	width: 100% !important;
}

.alert {
	margin-bottom: 0;
}

.log-layout {
	margin: 0 auto;
	width: 95%;
}