@media (min-width: 480px) and (max-width: 1200px)
{
	.set_buildingsindex {
		.main-planets {
			width: 60px;

			.list {
				width: 60px;

				.planet {
					> div {
						display: none;

						&.clear {
							display: block;
						}
					}

					img {
						width: 52px;
						height: 52px;
					}
				}
			}
		}

		main > .main-content {
			width: 785px;
		}
	}

	.doubleth {
		height: 44px;
	}

	main {
		width: 1000px;
	}

	html {
		font-size: 10px;
	}
}

@media (min-width: 1200px) and (max-width: 1600px)
{
	html {
		font-size: 11px;
	}
}

@media (max-width: 1600px)
{
	.resource-panel {
		width: 100%;
	}
}

@media (min-width: 481px) and (max-width: 992px)
{
	main {
		width: 800px;
	}

	.main-planets {
		width: 60px;
		margin-left: 5px;

		.list {
			width: 60px;

			.planet > div.clear {
				display: block;
			}

			.planet img {
				width: 52px;
				height: 52px;
			}
		}
	}

	.main-menu {
		margin-right: 5px;
		width: 100px;
	}

	.page-chat-messages {
		width: calc(100% - 10px);
	}

	.top-menu-block .m1 {
	    padding: 0 6px;
	}

	.officier {
		zoom: 0.8
	}
}

@media (max-width: 790px) and (min-width: 481px) {
	main {
		width: 100%;
		min-width: 600px;
	}
}