@media only screen and (max-width: 480px)
{
	.menu-toggle, .planet-toggle{
		width: 45px;
		height: 45px;
		position: fixed;
		text-align: center;
		background-color: rgba(0,0,0,.60);
		left: 5px;
		top: 5px;
		transition: all ease-out 0.2s;
		z-index: 200;
	}

	.planet-toggle {
		right: 5px;
		left: auto;
	}

	.menu-toggle span span, .planet-toggle span span{
		position: absolute;
		width: 24px;
		height: 2px;
		left: 0;
		background-color: #ffffff;
		transition: all ease-out 0.2s;
	}

	.planet-toggle > span{left: auto;right: 12px;}
	.planet-toggle:before{
		transition: all ease-out 0.2s;
		content: '';
		position: absolute;
		width: 17px;
		height: 16px;
		background: transparent url('/images/icon-city.svg') 0 0 no-repeat;
		left: 14px;
		top: 14px;
		opacity: 1;
	}

	.menu-toggle:active span span,.planet-toggle:active span span{background-color: #fbbe69;}
	.menu-toggle > span,.planet-toggle > span{top: 50%;margin-top: -11px;position: absolute;left: 12px;width: 24px;height: 22px;}

	.planet-toggle > span,.planet-toggle.active:before{opacity: 0;}
	.planet-toggle.active > span{opacity: 1;}

	.menu-toggle span.first,.planet-toggle span.first{top: 0;}
	.menu-toggle span.second,.planet-toggle span.second{top: 10px;}
	.menu-toggle span.third,.planet-toggle span.third{top: 20px;}

	.menu-toggle.active span.second,.planet-toggle.active span.second{opacity: 0;left: -5px;}
	.menu-toggle.active span.first,
	.planet-toggle.active span.first{
		top: 2px;
		transform: rotate(45deg);
	}
	.menu-toggle.active span.third,
	.planet-toggle.active span.third{
		top: 2px;
		transform: rotate(-45deg);
	}
	.menu-toggle.active span.first,
	.menu-toggle.active span.third,
	.planet-toggle.active span.first,
	.planet-toggle.active span.third{top: 10px}

	.menu-sidebar, .planet-sidebar{
		position: fixed;
		width: 250px !important;
		height: 100%;
		background-color: rgba(0, 0, 0, .90);
		top: 0;
		left: 0;
		z-index: 190;
		transform: translate(-250px, 0);
		transition: all ease-out 0.2s;
		padding-top: 60px;
	}

	.menu-sidebar.active, .planet-sidebar.active{
		transform: translate(0, 0);
	}

	.main-planets {
		margin: 0;
		width: 0;
	}

	.planet-sidebar {
		right: 0;
		left: auto;
		transform: translate(251px, 0);
	}

	.main-menu {
		margin: 0;
		width: 0;

		.menu-sidebar {
			ul {
				background: inherit;
				overflow: scroll;
				overflow-x: hidden;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				top: 0;
				left: 100%;
				z-index: 0;

				li {
					list-style: none;
					display: block;
					padding: 0;
					margin: 0;
					border-bottom: 1px solid #324a6a;
				}

				a {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					display: block;
					padding: 8px 10px 8px 20px;
					margin: 0;
					position: relative;
					color: #ffffff;
					font-size: 1.25rem;
					background: transparent;
					border: none;
					text-align: left;
				}
			}
		}
	}

	.planet-sidebar {
		padding: 60px 10px 0 10px;
	}

	.main-planets .planet-sidebar .list {
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		height: 100%;
	}

	.main-planets .planet-sidebar .list * {
		font-size: 1.2rem;
	}

	.main-planets .list .planet > div {
		max-width: 160px;
	}

	.top-menu-container {
		background: transparent;
		border: none;
		border-radius: 0;
		padding: 0;
		flex-direction: column;
	}

	.top-menu-block {
		justify-content: space-around;
	}

	.top-menu-container .left {
		padding: 10px 0;
		background: #37476a;
		border-radius: 0 0 5px 5px;
		border: 1px solid #415683;
		margin-left: 60px;
		margin-right: 60px;
	}

	.top-menu-container .right {
		margin-top: 15px;
	}

	.page-chat-messages {
		width: 100%;
		margin: 0;

		img {
			max-width: 100%;
		}
	}

	.smiles {
		width: 100%;
	}

	body {
		font-size: 1rem;
	}

	.block > .title {
		font-size: 1.2rem;
	}

	.page-chat-messages {
		font-size: 1.2rem;
	}

	.buildings {
		.actions {
			padding: 5px;
		}

		.title {
			padding: 5px;
		}
	}

	td.c, table th, .table th, td.k {
		padding: 5px;
	}

	.footer-mobile {
		background: #000;
		color: #848484;
		font: normal 10px Verdana, Arial, Helvetica, sans-serif;
		margin: 0;

		> div {
			padding: 5px;
		}

		a {
			color: #9d9d9d;
			margin: 0 5px;
			text-decoration: none;
			font-weight: normal;
		}
	}

	 #clock {
		 float: none !important;
	 }

	.table.galaxy > tbody > tr > th {
		padding: 5px;
	}

	.fleet_ships th {
		white-space: normal !important;
	}

	.application {
		main {
			width: 100%;
			min-width: initial;
			padding: 0;
		}

		.game_menu {
			width: auto;
		}
	}

	.page-overview .planet-image a {
		max-width: 50%;
		margin: 0 auto;
	}

	.main-content-row {
		margin: 0 10px;
	}

	.information-message {
		margin-left: 10px;
		margin-right: 10px;
	}

	input[type=text], input[type=number], input[type=password] {
		font-size: 1.25rem;
	}

	.resource-panel-item {

		.skin_metal,
		.skin_crystal,
		.skin_deuterium,
		.skin_energy {
			display: none;
		}

		.skin_s_metal,
		.skin_s_crystal,
		.skin_s_deuterium,
		.skin_s_energy {
			display: inline-block;
		}
	}

	header {
		width: 100%;
	}

	.top-menu-block .m1 {
		padding: 0;
	}
}

.table-responsive {
	-webkit-overflow-scrolling: touch;
}