.report {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;

	&_user {
		margin: 0 5px;

		th {
			padding: 4px 5px;
		}
	}

	&_fleet {
		padding: 7px;
		background-color: #344566;
		display: inline-block;
		margin: 5px 1px 0 1px;
		text-align: center;

		table {
			border: 0;
			border-spacing: 0;
			border-collapse: collapse;
			margin: 0 auto;

			td, th {
				border-spacing: 0;
				padding: 3px 5px;
			}
		}
	}

	&_result {
		margin: 0 auto;
	}
}