$text-color: #e0e0e0;
$main-bg-color: #37476a;
$head-bg-color: #253046;
$border-color: #415683;
$border-hover-color: #517db5;

$menu-bg-color: #2B354E;
$menu-bg-a-color: #6B354E;
$menu-border-color: #40567f;

$container-width: 1125px;
$menu-width: 150px;
$planets-width: 160px;

:root {
	--main-color: #{$main-bg-color};
}