@layer base {
	.sprite {
		display: inline-block;
		overflow: hidden;
		background: url("../../images/sprite.png") no-repeat;

		&.skin_b {width:16px; height:16px; background-position: -188px -1px}
		&.skin_batt0 {width:42px; height:22px; background-position: -597px -1px}
		&.skin_batt100 {width:42px; height:22px; background-position: -87px -24px}
		&.skin_deuterium {width:42px; height:22px; background-position: -1px -24px}
		&.skin_e {width:16px; height:16px; background-position: -222px -1px}
		&.skin_energy {width:42px; height:22px; background-position: -554px -1px}
		&.skin_kredits {width:42px; height:22px; background-position: -44px -24px}
		&.skin_crystal {width:42px; height:22px; background-position: -511px -1px}
		&.skin_m {width:16px; height:16px; background-position: -171px -1px}
		&.skin_message {width:42px; height:22px; background-position: -130px -24px}
		&.skin_metal {width:42px; height:22px; background-position: -242px -24px}
		&.skin_r {width:16px; height:16px; background-position: -137px -1px}
		&.skin_s {width:16px; height:16px; background-position: -120px -1px}
		&.skin_s_deuterium {width:22px; height:22px; background-position: -285px -24px}
		&.skin_s_energy {width:22px; height:22px; background-position: -219px -24px}
		&.skin_s_crystal {width:22px; height:22px; background-position: -196px -23px}
		&.skin_s_metal {width:22px; height:22px; background-position: -173px -22px}
		&.skin_z {width:16px; height:16px; background-position: -239px -1px}

		&.bb_color_swatch {width:16px; height:16px; background-position: -341px -1px}
		&.bb_emoticon_grin {width:16px; height:16px; background-position: -324px -1px}
		&.bb_eye {width:16px; height:16px; background-position: -358px -1px}
		&.bb_film_add {width:16px; height:16px; background-position: -307px -1px}
		&.bb_image_add {width:16px; height:16px; background-position: -273px -1px}
		&.bb_palette {width:16px; height:16px; background-position: -256px -1px}
		&.bb_picture_add {width:16px; height:16px; background-position: -290px -1px}
		&.bb_rainbow {width:16px; height:16px; background-position: -477px -1px}
		&.bb_sound_add {width:16px; height:16px; background-position: -494px -1px}
		&.bb_television {width:16px; height:16px; background-position: -409px -1px}
		&.bb_text_align_center {width:16px; height:16px; background-position: -392px -1px}
		&.bb_text_align_justify {width:16px; height:16px; background-position: -426px -1px}
		&.bb_text_align_left {width:16px; height:16px; background-position: -460px -1px}
		&.bb_text_align_right {width:16px; height:16px; background-position: -443px -1px}
		&.bb_text_bold {width:16px; height:16px; background-position: -375px -1px}
		&.bb_text_italic {width:16px; height:16px; background-position: -18px -1px}
		&.bb_text_list_bullets {width:16px; height:16px; background-position: -69px -1px}
		&.bb_text_list_numbers {width:16px; height:16px; background-position: -52px -1px}
		&.bb_text_signature {width:16px; height:16px; background-position: -86px -1px}
		&.bb_text_strikethrough {width:16px; height:16px; background-position: -35px -1px}
		&.bb_text_underline {width:16px; height:16px; background-position: -1px -1px}
		&.bb_tick {width:16px; height:16px; background-position: -103px -1px}
		&.bb_user_comment {width:16px; height:16px; background-position: -154px -1px}
		&.bb_world_link {width:16px; height:16px; background-position: -205px -1px}
	}

	.officier {
		display: inline-block;
		overflow: hidden;
		background: url("../../images/officiers.png") no-repeat;

		&.geologist {width:32px; height:32px; background-position: -444px -2px}
		&.geologist_active {width:32px; height:32px; background-position: -410px -2px}
		&.admiral {width:32px; height:32px; background-position: -376px -2px}
		&.admiral_active {width:32px; height:32px; background-position: -342px -2px}
		&.engineer {width:32px; height:32px; background-position: -308px -2px}
		&.engineer_active {width:32px; height:32px; background-position: -274px -2px}
		&.technocrat {width:32px; height:32px; background-position: -240px -2px}
		&.technocrat_active {width:32px; height:32px; background-position: -206px -2px}
		&.architect {width:32px; height:32px; background-position: -172px -2px}
		&.architect_active {width:32px; height:32px; background-position: -138px -2px}
		&.metaphysician {width:32px; height:32px; background-position: -104px -2px}
		&.metaphysician_active {width:32px; height:32px; background-position: -70px -2px}
		&.komanmercenary {width:32px; height:32px; background-position: -36px -2px}
		&.mercenary_active {width:32px; height:32px; background-position: -2px -2px}
	}
}